// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Teh 4
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/game.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Tein kolme HTML-sivua — pääsivu navigaatiolla, taulukko kaikista yhteystiedoista ja hakusivu nimen perusteella. Data haetaan valmiilta palvelimelta jQueryn $.getJSON-funktiolla.
                                | Opin tekemään pyyntöjä palvelimelle jQueryllä ja rakentamaan HTML-taulukon saadusta datasta. Jos tekisin nyt uudestaan, lisäisin CSS-tyylit.
                            a.btn.btn-primary(href='https://github.com/raemon131/web-ohjelmointi-kurssi/tree/main/kt_Vladimir_Dovgalev_teh4', target='_blank')
                                i.fas.fa-link.fa-fw
                                | View Project
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window