// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Teh 6
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/submarine.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Tein portfolio-sivuston Bootstrap-pohjalla, johon kokosin kaikki kurssin tehtävät. Tämä oli mielenkiintoisin tehtävä, koska sai vapaasti valita designin ja rakenteen.
                                | Opin käyttämään valmiita Bootstrap-pohjia ja muokkaamaan niitä omiin tarpeisiin. Jos tekisin nyt uudestaan, yrittäisin tehdä designin kokonaan alusta itse.
                            a.btn.btn-primary(href='https://github.com/raemon131/web-ohjelmointi-kurssi/blob/main/kt1.js', target='_blank')
                                i.fas.fa-link.fa-fw
                                | View Project
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window